:root {
  --main-color: #3cb878;
  --main-hv-color: #3cb8784a;
  --sec-color: #f5f6f9;
}
//////////////Home Page
// import Helpers
@import "./helpers/mixins";
@import "./helpers/placeholders";
// import Header
@import "./page-sections/header";
//import Landing
@import "./page-sections/home-page/landing";
//import best selling
@import "./page-sections/home-page/best-selling";
//import featured-products
@import "./page-sections/home-page/featured-products";
//import discount
@import "./page-sections/home-page/discount";
//import footer
@import "./page-sections/footer";

//////////////Admin page
//import product-view
@import "./page-sections/admin-page/product-view";

//////////////Login page
//import login
@import "./page-sections/login/Login";

//////////////product details page
@import "./page-sections/product-details/product-details";

//////////////cart page
@import "./page-sections/cart/cart";

//////////////sections page
@import "./page-sections/sections-pages/shop-grid-full";
