section.best-selling {
  .best-sellers {
    h3 {
      letter-spacing: 3px;
    }
  }
  .row {
    .product-card {
      @extend %product-card;
    }
  }
}
section.features {
  background-color: #f5f6f9;
  overflow: hidden;
  .feature:first-child:hover {
    svg {
      animation: Percentage-movement 2s cubic-bezier(0.18, 0.89, 0.32, 1.28)
        infinite;
    }
  }
  .feature:nth-child(2):hover {
    svg {
      animation: flying-plane 3s cubic-bezier(0.1, 0.14, 1, 0.43) infinite;
    }
  }
  .feature:nth-child(3):hover {
    svg {
      animation: rotate-animation 1s cubic-bezier(0.18, 0.89, 0.32, 1.28)
        infinite;
    }
  }
  .feature:last-child:hover {
    svg {
      animation: Launch 3s ease-in-out infinite;
    }
  }
}
section.offers {
  .offer1,
  .offer2,
  .offer3 {
    background-image: url("../imgs/offer.jpg");
    background-size: cover;
    height: 450px;
    background-position: 50%;
    position: relative;
    @include overlay(black, 0.5);
    cursor: pointer;
  }
  .offer1,
  .offer2,
  .offer3 {
    overflow: hidden;
    h3 {
      transition: 0.3s;
    }
    &:hover h3 {
      color: var(--main-color);
    }
    &:hover .offer-text::before {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    &:hover .offer-text::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
  .offer2 {
    background-image: url("../imgs/offer-2.jpg");
  }
  .offer3 {
    background-image: url("../imgs/offer-3.jpg");
  }
  .offer-text {
    position: relative;
    span {
      letter-spacing: 8px;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      border: 1px solid white;
      width: 275px;
      height: 275px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      transition: 0.3s;
    }
    &::after {
      width: 250px;
      height: 250px;
    }
  }
}

@keyframes Percentage-movement {
  0%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(-10px);
  }
  13%,
  38%,
  63%,
  83% {
    transform: translateY(0px);
  }
}
@keyframes flying-plane {
  0% {
    transform: translate(0px, 0px);
  }
  30% {
    transform: translate(-10px, 25px);
  }
  35%,
  100% {
    transform: translate(250px, -400px);
  }
}
@keyframes rotate-animation {
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(185deg);
  }
}

@keyframes Launch {
  0% {
    position: relative;
    top: 0;
    transform: rotate(0);
  }
  25% {
    position: relative;
    top: 0;
    transform: rotate(-45deg);
  }
  40% {
    position: relative;
    top: -5000px;
  }
}
